div{
    background: brown;
    color: aqua;
}
#div1{
    background: royalblue;
}
#bb{
    background: darkcyan
}
.bg{
    background: hotpink;
}
#ul1 li{
    background: hotpink;
}

#ul1 .menu{
    background: aqua ;
}